@charset "UTF-8";
/* CSS Document */


@media screen and (max-width: 960px){
	*{
		box-sizing: border-box;
	}
	.sp-only{
		display: block;
	}
	.pc-only{
		display: none;	
	}
	.inner{
		padding: 0 10px;
	}
	
/*	ハンバーガー*/
	.humberger-wrapper{
		position: absolute;
		right: 25px;
		top:20px;
		z-index: 100;
	}
	.btn-trigger {
	  position: relative;
	  width: 44px;
	  height: 44px;
	  cursor: pointer;
	}
	.btn-trigger span {
	  position: absolute;
	  left: 0;
	  width: 100%;
	  height: 4px;
	  background-color: #7f6666;
	  border-radius: 4px;
	}
	.btn-trigger, .btn-trigger span {
	  display: inline-block;
	  transition: all .5s;
	  box-sizing: border-box;
	}
	.btn-trigger span:nth-of-type(1) {
	  top: -1px;
	}
	.btn-trigger span:nth-of-type(2) {
	  top: 14px;
	}
	.btn-trigger span:nth-of-type(3) {
	  bottom: 12px;
	}
	#btn01.open span:nth-of-type(1) {
	  -webkit-transform: translateY(20px) rotate(-45deg);
	  transform: translateY(14px) rotate(-45deg);
	}
	#btn01.open span:nth-of-type(2) {
	  opacity: 0;
	}
	#btn01.open span:nth-of-type(3) {
	  -webkit-transform: translateY(-20px) rotate(45deg);
	  transform: translateY(-14px) rotate(45deg);
	}
/*	ハンバーガー*/
	main h2 {
     margin: 50px 0 20px; 
    font-weight: normal;
    font-size: 25px;
    color: #7f6666;
}
	.small-catch{
	margin-left: -29px;
}
	header h1 {
    margin: 12px 0 0 20px;
    width: 41%;
}
	.hum-menu{
		color: #7f6666;	
	}
	.hum-menu ul{
		flex-direction: column;
		align-items: center;
		font-size: 20px;
		text-decoration: none;
	}
	.nav-bg{
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		z-index: 90;
		background-color: #ede6e6;
		transition: all .6s;
		overflow-y: auto; /* メニューが多くなったらスクロールできるように */
		display: none;
	}
	.hum-menu ul:first-of-type{
		margin-top: 70px;
	}
	header nav ul li a, header nav ul li a:link, header nav ul li a:visited {
    	margin-bottom: 25px;
	}
	.header-wrapper {
		position: fixed;
		top:0;
		left: 0;
		width: 100%;
		background-color: #fff;
		z-index: 150;
	}
	.home main .visual {
		background: url("../images/eric-han-WJ6fmN1D-h0-unsplash.jpg") no-repeat center top;
		height: 100vh;
		max-width: 100%;
		padding: 200px 50px 50px;
		background-size: cover;
	}
	.home main .visual {
		
	}
	.home main .visual p.catch {
		font-size: 18px;
		margin-top: -80px;
		margin-left: -29px;
	}
	main p {
		margin: 0 0 3px;
		font-size: 16px;
	}
	main h2 {
     margin: 0px 0 20px; 
    font-weight: normal;
    font-size: 25px;
    color: #7f6666;
}
	.home main section div {
     padding: 0 0px 0 0; 
}


	.scroll {
		top: 528px;
	}
	.sp-block{
		display: block;
	}
	.home main section:first-child {
		display: flex;
		flex-direction: column; 
	}
	.home main section:first-child div {
		padding: 0 ;
	}
	.sp-space{
		margin: 22px auto;
	}
	.home main section {
		flex-direction: column;	
	}
	main dl dt {
		float: left;
		clear: both;
		padding: 10px 0;
		color: #998484;
		display: contents;
	}
	.news{
		margin-top: 50px;
	}
/*-------------------------	*/
	main .title {
		padding: 50px;
		background: #f4e3e3;
		margin-top: 63px;
	}
	.about{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.guide main .about div {
		width: 100%;
	}
	main dl dd {
/*		border-bottom: none;*/
		margin: 0;
		padding: 0px 0 25px 15%;
	}
	.sec-h2{
		margin-top: 90px;
	}
	/*-------------------------	*/
	.cast-profile{
		flex-direction: column;
		
	}
	.cast main .cast-profile dl {
    	 margin: 0 0 0 0px; 
		font-size: 18px;
		width: 100%;
	}
	/*-------------------------	*/
	
	.contact main dl dd {
		padding-left: 0em;
		padding-top: 10px;
	}
	.contact main input, .contact main textarea {
		border: solid 1px #ccc;
		padding: 5px;
		width: 100%;
		height: 60px;
		box-sizing: border-box;
	}
	.contact main input[name="email"] {
		width: 100%;
	}
	.sp-text-area textarea{
		border: solid 1px #ccc;
		padding: 5px;
		width: 100%;
		box-sizing: border-box;
		height: 120px !important;
	}
	
	
	
	
	
	
	
	
	
}



